<div id="<%= dom_id kindergarten %>">
  <div class='card'>
    <div class='card-header'>
      <p>
        <% if kindergarten.photo.attached? %>
          <%= image_tag kindergarten.photo, class: "photo-kindergarten" %>
        <% end %>
      </p>
    </div>

    <div class='card-body'>
      <p class='text-bold'>
        <strong><%= kindergarten.name %></strong>
      </p>

      <p>
        <%= kindergarten.description %>
      </p>

      <p>
        <strong>Disponible en la ciudad de: </strong><%= kindergarten.city.name %>
      </p>

      <p>
        <strong>Aceptamos las siguientes mascotas: </strong>
        <%= kindergarten.pets.each do |pet| %>
          <span>
            <%= pet.name %>
          </span>
          <span>
            , 
          </span>
        <% end %>
      </p>
      
      <div class='row'>
      <p class='col-6'>
        <strong>Llámanos al: </strong>
        <%= kindergarten.phone %>
      </p>

      <p class='col-6'>
        <strong>Contáctanos en: </strong>
        <%= kindergarten.email %>
      </p>
      </div>

      <p>
        <strong>DISPONIBLE:</strong>
          <% if kindergarten.available %>
            <span>
              SI
            </span>
          <% else %>
            <span>
              NO
            </span>
          <% end %>
      </p>

      <p class='text-success'>
        <strong>
        $
        <span>
          <%= kindergarten.price %>
        </span>
        </strong>
      </p>

  </div>
  </div>

</div>
