<p style="color: green"><%= notice %></p>


<div class='row'>
<div class='col-4'>
<%= form_with url: kindergartens_path, method: :get do |k| %>
  <%= k.label :"Buscar en" %>
  <%= k.collection_select :city_id, City.all, :id, :name %>
  <%= k.submit "FILTRAR" %>
<% end %>
</div>

<div class='col-4'>
<%= form_with url: kindergartens_path, method: :get do |k| %>
  <%= k.label :"Buscar para" %>
  <%= k.collection_select :pets_id, Pet.all, :id, :name %>
  <%= k.submit "FILTRAR" %>
<% end %>
</div>
</div>

<h1>Kindergartens</h1>
<div id="kindergartens">
  <% @kindergartens.each do |kindergarten| %>
    <%= render kindergarten %>
    <p>
      <%= link_to "Show this kindergarten", kindergarten %>
    </p>
  <% end %>
</div>

<%= paginate @kindergartens %>

<%= link_to "New kindergarten", new_kindergarten_path %>
