<p style="color: green"><%= notice %></p>

<%= render @kindergarten %>

<div>
  <% if current_user.id == @kindergarten.user_id %>
    <%= link_to "Edit this kindergarten", edit_kindergarten_path(@kindergarten) %> |
  <% end %>
  <%= link_to "Back to kindergartens", kindergartens_path %>

  <% if current_user.id == @kindergarten.user_id %>
    <%= button_to "Destroy this kindergarten", @kindergarten, method: :delete %>
  <% end %>
</div>
